.row{
    margin-left: 10px;
    color:white;
}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_posters::-webkit-scrollbar{
    display: none;
}
.row_poster{
    object-fit: contain;
    width: 120%;
    /* height:100px; */
    max-height: 200px;
    margin-right: 10px;
    /* max-height: max-content; */
    transition: transform 450ms;
}
.row_poster:hover{
    transform: scale(1.08);
}

.row_posterlarge{
    max-height: 250px;
}
.row_posterlarge:hover{
    transform: scale(1.10);
}

.movierating{
    color:white;
}

.caption{
    padding:1px;
    font-size: x-small;
    border:0.2px;
    border-color: #00cd22;
    border-style: solid;
    color:white;
    border-radius: 50%;
    height:25px;
    width:25px;
    vertical-align: super;
    text-align: center;
    text-decoration: wavy;
}

/* .imagediv{
position: absolute;
bottom: 5px;
left: 2px;
} */